include library/links.pug
include ./library/loading.pug
include layouts/github.pug
include layouts/header.pug
.landing.d-flex.align-items-center
  .container.d-flex.align-items-center.justify-content-between
    img(src="fav.png", alt="javascript")
    .text
      h3.text-center Powerfull JS Library
      p.text-center A JavaScript Library To Make Your Work Easier/Faster, <br /> You Can Visit GitHub Repositry And Contribute To It !
include library/scripts.pug