@import "../library/variables.scss";
.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $js;
  display: flex;
  align-items: center;
  z-index: 999;
}

.loader {
  width: 100%;
  height: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dot {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;

  &:first-child {
    &:before,
    &:after {
      animation-delay: 0ms;
    }
  }

  &:last-child {
    &:before,
    &:after {
      animation-delay: 200ms;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: blue;
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: white;
    border-radius: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    box-shadow: 0px 0px 1px black;
    opacity: 0.2;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
  }
}

@keyframes dotShadow {
  0% {
    transform: scaleX(1);
  }

  50% {
    opacity: 0;
    transform: scaleX(0.6);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes dotHover {
  0% {
    top: 0px;
  }

  50% {
    top: -50px;
    transform: scale(1.1);
  }

  100% {
    top: 0;
  }
}
