@import "./library/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: $selection-color !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
