include ../library/links.pug
include ../library/loading.pug
include ../layouts/header.pug
.about.mt-5
  .container
    .box.my-5
      h3 <i class="fa-duotone fa-star-of-life"></i> What is Functionality ?
      p.ml-5
        li Functionality Is A Simple Open Source Project
        li Functionality Is A Library To Make Your Work Easier/Faster
        li Functionality Has A Great Performance For Your Code

    .box.my-5
      h3 <i class="fa-duotone fa-star-of-life"></i> What Does Functionality Do ?
      p.ml-5
        li Functionality Give You A Plenty Of Functions That You Can Use
        li Functionality Make Your Performance More Professional

    .box.my-5
      h3 <i class="fa-duotone fa-star-of-life"></i> Why Functionality ?
      p.ml-5
        li Functionality Is Easy To Begin With
        li Functionality Saves Your Time
        li Functionality Is A Light Weight Library
        li Functionality is Compatible With All Search Engines
        li Functionality Is An Open Source

    .box.my-5
      h3 <i class="fa-duotone fa-star-of-life"></i> Who Developed Functionality ?
      p.ml-5
        li Functionality Has Been Developed By A Group Of Experts
        li The Leader Of The Group Is <a href="https://github.com/Ali-Eldeba">Ali-Eldeba</a>

    .box.my-5
      h3 <i class="fa-duotone fa-star-of-life"></i> How Can I Collaborate To This Project ?
      p.ml-5
        li Simply Go To <a href="https://github.com/Ali-Eldeba/functionality.js">Project Repository</a> And Begin Collaborating

include ../layouts/footer.pug
include ../library/scripts.pug