.github.text-center
  p.text-truncate Functionality.js Library Is an Open Source Library You Can Contribute To It From <a href="https://github.com/Ali-Eldeba/functionalty.js" target="_blank"> Here</a>