nav.navbar.navbar-dark
  .container
    h2.logo: a(href="home.html") functionalty.js
    img(src="assets/svg/bar.svg" id="bar")
    ul
      li: a(href="home.html") home
      li: a(href="start.html") quick start
      li: a(href="docs.html") docs
      li: a(href="api.html") API
      li: a(href="contact.html") contact