nav.navbar.navbar-dark
  .container
    h2.logo: a(href="index.html") functionalty.js
    i.fa-light.fa-bars#bar
    ul
      li: a(href="index.html") home
      li: a(href="start.html") quick start
      li: a(href="docs.html") docs
      li: a(href="api.html") API
      li: a(href="contact.html") contact