@import "../library/variables.scss";
.github {
  background-color: $soft-black;
  height: 30px;
  color: #fff;
  a {
    color: $js !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
