header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin: 0 15px;
      &:hover {
        color: red;
      }
    }
  }
}
