nav {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 30px;
    }
    ul {
      display: flex;
      list-style-type: none;
      li {
        margin: 0 15px;
        text-transform: capitalize;
        &:hover {
          color: red;
        }
      }
    }
  }
}
