@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Cairo, sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-moz-selection {
  background-color: #e5b80b !important;
}
::selection {
  background-color: #e5b80b !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
.github {
  background-color: #181a18;
  height: 30px;
  color: #fff;
}
.github a {
  color: #efd81d !important;
}
.github a:hover {
  text-decoration: underline !important;
}
nav {
  background-color: #efd81d;
  height: 60px;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
}
nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
nav .container .logo {
  width: 30px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
}
nav .container i {
  display: none !important;
  font-size: 25px;
  cursor: pointer;
}
nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  position: relative;
}
nav .container ul li {
  margin: 10px 15px 0;
  text-transform: capitalize;
  cursor: pointer;
}
nav .container ul li:hover {
  color: #fff;
}
nav .container ul li:hover a {
  height: 100%;
  width: 100%;
  color: #fff !important;
}
@media (max-width: 768px) {
  nav .container i {
    display: block !important;
  }
  nav .container ul {
    display: none !important;
  }
}
.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #efd81d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}
.loader {
  width: 100%;
  height: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.dot {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;
}
.dot:first-child:after,
.dot:first-child:before {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.dot:last-child:after,
.dot:last-child:before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.dot:before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #00f;
  -webkit-animation-name: dotHover;
  animation-name: dotHover;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background: #fff;
  border-radius: 100%;
}
.dot:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000;
  -webkit-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  opacity: 0.2;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  border-radius: 100%;
  -webkit-animation-name: dotShadow;
  animation-name: dotShadow;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@-webkit-keyframes dotShadow {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes dotShadow {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes dotHover {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    top: 0;
  }
}
@keyframes dotHover {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    top: 0;
  }
}
.landing {
  background-color: #eee;
  height: calc(100vh - 90px);
}
.landing .coontainer {
  height: 100%;
  width: 100%;
}
.landing .coontainer img {
  border-radius: 50%;
}
@media (max-width: 768px) {
  .landing .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing .container img {
    margin-bottom: 15px;
    width: 50px;
  }
}
